
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <center>
        <div style="background-color:beige;width:50%;margin-top:20px;">
        <form style="margin:15px;padding:20px;" method="post" action="/Admin/Index">
            <div class="row" style="margin:20px;">
                <div class="col-md-4">
                    <label>Username</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="username" class="form-control" />
                </div>
            </div>
            <div class="row" style="margin:20px;">
                <div class="col-md-4">
                    <label>Password</label>
                </div>
                <div class="col-md-8">
                    <input type="password" name="password" class="form-control" />
                </div>
            </div>
            <div class="row" style="margin:20px;">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
        </div>
    </center>

</body>
</html>
