
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-section-two">
    <div class="banner-carousel owl-theme owl-carousel">

        <!-- Slide Item -->
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/Content/assets/images/background/6.jpg)"></div>

            <div class="auto-container">
                <div class="content-box">
                    <div class="image">
                        <img src="~/Content/assets/images/resource/image-1.png" alt="" />
                    </div>
                    <!-- Author Name -->
                    <div class="author-name">
                        <div class="author-inner">
                            <div class="author-icon">
                                <img src="~/Content/assets/images/resource/author-1.jpg" alt="" />
                            </div>
                            by Mahfuz Riad
                        </div>
                    </div>
                    <h1>Roasted beet salad with arugula, <br> feta, and garlic vinaigrette</h1>
                    <div class="info-list clearfix">
                        <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>&ensp;
                            8 Review
                        </div>
                    </div>
                    <ul class="post-meta">
                        <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                        <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                        <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/Content/assets/images/background/6.jpg)"></div>

            <div class="auto-container">
                <div class="content-box">
                    <div class="image">
                        <img src="~/Content/assets/images/resource/image-1.png" alt="" />
                    </div>
                    <!-- Author Name -->
                    <div class="author-name">
                        <div class="author-inner">
                            <div class="author-icon">
                                <img src="~/Content/assets/images/resource/author-1.jpg" alt="" />
                            </div>
                            by Mahfuz Riad
                        </div>
                    </div>
                    <h1>Roasted beet salad with arugula, <br> feta, and garlic vinaigrette</h1>
                    <div class="info-list clearfix">
                        <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>&ensp;
                            8 Review
                        </div>
                    </div>
                    <ul class="post-meta">
                        <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                        <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                        <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/Content/assets/images/background/6.jpg)"></div>

            <div class="auto-container">
                <div class="content-box">
                    <div class="image">
                        <img src="~/Content/assets/images/resource/image-1.png" alt="" />
                    </div>
                    <!-- Author Name -->
                    <div class="author-name">
                        <div class="author-inner">
                            <div class="author-icon">
                                <img src="~/Content/assets/images/resource/author-1.jpg" alt="" />
                            </div>
                            by Mahfuz Riad
                        </div>
                    </div>
                    <h1>Roasted beet salad with arugula, <br> feta, and garlic vinaigrette</h1>
                    <div class="info-list clearfix">
                        <div class="rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-o"></span>&ensp;
                            8 Review
                        </div>
                    </div>
                    <ul class="post-meta">
                        <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                        <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                        <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End Banner Section -->
<!-- Product Form Section -->
<section class="product-form-section">
    <div class="auto-container">
        <div class="inner-container margin-top">

            <!-- Default Form -->
            <div class="default-form">
                <form method="post" action="https://gico.io/spcica/contact.html">
                    <div class="clearfix">

                        <!-- Form Group -->
                        <div class="form-group col-lg-3 col-md-6 col-sm-12">
                            <select class="custom-select-box">
                                <option>Categories</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group col-lg-7 col-md-6 col-sm-12">
                            <input type="text" name="text" placeholder="Recipe Kayword" required>
                        </div>

                        <div class="form-group col-lg-2 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn search-btn"><span class="fa fa-search"> Search</span></button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- End Keyword Section -->
<!-- Categories Section Two -->
<section class="categories-section-two">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2> Recipe Categories</h2>
            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut laoreet <br> dolore magna aliquam erat volutpat lorem</div>
        </div>

        <div class="row clearfix">

            <!-- Category Block Two -->
            <div class="category-block-two col-lg-4 col-md-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url(/Content/assets/~/Content/assets/images/resource/category-1.png)">
                    <div class="number">15</div>
                    <h4><a href="#">Meal Type</a></h4>
                </div>
            </div>

            <!-- Category Block Two -->
            <div class="category-block-two col-lg-4 col-md-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms" style="background-image: url(/Content/assets/~/Content/assets/images/resource/category-2.png)">
                    <div class="number">05</div>
                    <h4><a href="#">Meal Type</a></h4>
                </div>
            </div>

            <!-- Category Block Two -->
            <div class="category-block-two col-lg-4 col-md-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms" style="background-image: url(/Content/assets/~/Content/assets/images/resource/category-3.png)">
                    <div class="number">25</div>
                    <h4><a href="#">Meal Type</a></h4>
                </div>
            </div>

            <!-- Category Block Two -->
            <div class="category-block-two col-lg-4 col-md-6 col-xs-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url(/Content/assets/~/Content/assets/images/resource/category-4.png)">
                    <div class="number">18</div>
                    <h4><a href="#">Meal Type</a></h4>
                </div>
            </div>

            <!-- Category Block Two -->
            <div class="category-block-two col-lg-4 col-md-6 col-xs-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms" style="background-image: url(/Content/assets/~/Content/assets/images/resource/category-5.png)">
                    <div class="number">05</div>
                    <h4><a href="#">Meal Type</a></h4>
                </div>
            </div>

            <!-- Category Block Two -->
            <div class="category-block-two col-lg-4 col-md-6 col-xs-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms" style="background-image: url(/Content/assets/~/Content/assets/images/resource/category-6.png)">
                    <div class="number">08</div>
                    <h4><a href="#">Meal Type</a></h4>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Categories Section Two -->
<!-- Trending Section -->
<section class="trending-section style-two">
    <div class="auto-container">
        <div class="layer-three" style="background-image: url(/Content/assets/images/background/7.png)"></div>
        <div class="layer-four" style="background-image: url(/Content/assets/images/background/8.png)"></div>
        <div class="row clearfix">

            <!-- Image Column -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="~/Content/assets/images/resource/category.png" alt="" />
                        <div class="mints">15 Min</div>
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">TRENDING</div>
                        <h2>Standing Rib Roast</h2>
                        <div class="text">Preheat oven to 325°. In a small bowl, mix the first 5 ingredients. Place roast in a roasting pan, fat side up; rub with seasoning mixture.Roast 2-1/4 to 2-3/4 hours or until meat reaches desired doneness (for medium-rare, a thermometer should read 135°; medium, 140°; medium-well, 145°). Remove roast from oven; tent with foil. Let stand 15 minutes before carving.</div>
                    </div>
                    <div class="bold-text">To separate the fat from the drippings with ease, try this tool from OXO ($14).</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Trending Section -->
<!-- Popular Recipes Section -->
<section class="popular-recipes-section style-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Populer Recipes Posts</h2>
                    <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut</div>
                </div>
                <div class="pull-right">
                    <a href="recipes.html" class="theme-btn btn-style-one"><span class="txt">See all Post</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="outer-container">
        <div class="row clearfix">

            <!-- Recipes Block -->
            <div class="recipes-block style-three col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-8.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-5.jpg" alt="" /></div>
                        <div class="category">CHICKEN</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-three col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-9.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-4.jpg" alt="" /></div>
                        <div class="category">Gluten Free Recipes</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-three col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-10.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-6.jpg" alt="" /></div>
                        <div class="category">Cooking Style</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-three col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-11.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-7.jpg" alt="" /></div>
                        <div class="category">Gluten-free</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Popular Recipes Section -->
<!-- Video Section -->
<section class="video-section style-two">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Column -->
            <div class="column col-lg-6 col-md-6 col-sm-12">
                <!--Video Box-->
                <div class="video-box">
                    <div class="image">
                        <h4>Pressure-Cooker Chicken <br> Enchilada Soup</h4>
                        <img src="~/Content/assets/images/resource/video-1.jpg" alt="" />
                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-media-play-symbol"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="column col-lg-6 col-md-6 col-sm-12">
                <!--Video Box-->
                <div class="video-box">
                    <div class="image">
                        <h4>Garlic Tomato Bruschetta</h4>
                        <img src="~/Content/assets/images/resource/video-2.jpg" alt="" />
                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-media-play-symbol"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row clearfix">

            <!-- Column -->
            <div class="column col-lg-4 col-md-6 col-sm-12">
                <!--Video Box-->
                <div class="video-box">
                    <div class="image">
                        <h4>Pressure-Cooker Chicken Enchilada Soup</h4>
                        <img src="~/Content/assets/images/resource/video-3.jpg" alt="" />
                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-media-play-symbol"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="column col-lg-4 col-md-6 col-sm-12">
                <!--Video Box-->
                <div class="video-box">
                    <div class="image">
                        <h4>Garlic Tomato Bruschetta</h4>
                        <img src="~/Content/assets/images/resource/video-4.jpg" alt="" />
                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-media-play-symbol"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="column col-lg-4 col-md-6 col-sm-12">
                <!--Video Box-->
                <div class="video-box">
                    <div class="image">
                        <h4>Garlic Tomato Bruschetta</h4>
                        <img src="~/Content/assets/images/resource/video-5.jpg" alt="" />
                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-media-play-symbol"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Video Section -->
<!-- Trending Recipes Section -->
<section class="trending-recipes-section style-two">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Trending Recipes</h2>
                    <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut</div>
                </div>
                <div class="pull-right">
                    <a href="recipes.html" class="theme-btn btn-style-one"><span class="txt">See all Post</span></a>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <!-- Recipes Block -->
            <div class="recipes-block style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-12.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><a href="/Home/AuthorDetails"><img src="~/Content/assets/images/resource/author-3.jpg" alt="" /></a></div>
                        <div class="category">CHICKEN</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-13.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-8.jpg" alt="" /></div>
                        <div class="category">CHICKEN</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-14.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-9.jpg" alt="" /></div>
                        <div class="category">CHICKEN</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-15.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><a href="/Home/AuthorDetails"><img src="~/Content/assets/images/resource/author-3.jpg" alt="" /></a></div>
                        <div class="category">CHICKEN</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-16.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-8.jpg" alt="" /></div>
                        <div class="category">CHICKEN</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recipes Block -->
            <div class="recipes-block style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/recipe-17.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <div class="author-image"><img src="~/Content/assets/images/resource/author-9.jpg" alt="" /></div>
                        <div class="category">CHICKEN</div>
                        <h4><a href="recipes-detail.html">Pressure-Cooker Beef Short <br> Ribs with Chutney</a></h4>
                        <div class="text">Discover a sleighload of tasty snacks that are just right for holiday feasting.</div>
                        <ul class="post-meta">
                            <li><span class="icon flaticon-dish"></span>4 ingredients</li>
                            <li><span class="icon flaticon-clock-3"></span>6 Min</li>
                            <li><span class="icon flaticon-business-and-finance"></span>4 People</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Trending Recipes Section -->
<!-- Entertaining Section -->
<section class="entertaining-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>Most Favourited Recipes</h2>
        </div>

        <div class="row clearfix">

            <!-- Entertaining Block -->
            <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/entertaining-1.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span class="icon "></span>21 Jan ,2020</li>
                            <li><span class="icon flaticon-comment"></span>4</li>
                            <li><span class="icon flaticon-heart"></span>5</li>
                        </ul>
                        <h4><a href="recipes-detail.html">Pop-Tarts Dropping New Pretzel Flavors Nationwide</a></h4>
                        <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Entertaining Block -->
            <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/entertaining-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span class="icon "></span>21 Jan ,2020</li>
                            <li><span class="icon flaticon-comment"></span>4</li>
                            <li><span class="icon flaticon-heart"></span>5</li>
                        </ul>
                        <h4><a href="recipes-detail.html">The Cosmic Crisp Apple Is Here and We’re Already Obsessed</a></h4>
                        <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Entertaining Block -->
            <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/entertaining-3.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span class="icon "></span>21 Jan ,2020</li>
                            <li><span class="icon flaticon-comment"></span>4</li>
                            <li><span class="icon flaticon-heart"></span>5</li>
                        </ul>
                        <h4><a href="recipes-detail.html">Good Grief! 9 Ideas for a Charlie Brown Christmas Party</a></h4>
                        <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Entertaining Block -->
            <div class="entertaining-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/entertaining-4.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li><span class="icon "></span>21 Jan ,2020</li>
                            <li><span class="icon flaticon-comment"></span>4</li>
                            <li><span class="icon flaticon-heart"></span>5</li>
                        </ul>
                        <h4><a href="recipes-detail.html">How to Remove Sulfites from Wine the Easy Way</a></h4>
                        <a href="recipes-detail.html" class="theme-btn read-more">Read More</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Entertaining Section -->
<!-- Authors Section -->
<section class="authors-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>Top Rated Authors</h2>
            <div class="text">Lorem Ipsum proin gravida nibh vel velit auctor aliquetenean sollicitudin, <br> bibendum auctor, nisi elit consequat gravida nibh</div>
        </div>

        <div class="row clearfix">

            <!-- Author Block -->
            <div class="author-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/author-10.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="recipes-detail.html">Kopa Kapi</a></h4>
                        <div class="designation">Head Chef</div>
                    </div>
                </div>
            </div>

            <!-- Author Block -->
            <div class="author-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/author-11.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="recipes-detail.html">Fariya Keya</a></h4>
                        <div class="designation">Baker</div>
                    </div>
                </div>
            </div>

            <!-- Author Block -->
            <div class="author-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/author-12.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="recipes-detail.html">Raj Ghosh</a></h4>
                        <div class="designation">Chef</div>
                    </div>
                </div>
            </div>

            <!-- Author Block -->
            <div class="author-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="recipes-detail.html"><img src="~/Content/assets/images/resource/author-13.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="recipes-detail.html">Yea Cup lee</a></h4>
                        <div class="designation">Cook head </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Treats Section -->
<!-- Subscribe Section -->
<section class="subscribe-section" style="background-image: url(/Content/assets/images/background/9.png)">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">
                <h1>Subscribe to the best <br> recipes feed.</h1>
                <!-- Subscribe Form -->
                <div class="subscribe-form">
                    <form method="post" action="https://gico.io/spcica/contact.html">
                        <div class="form-group clearfix">
                            <input type="email" name="email" value="" placeholder="Enter your email" required>
                            <button type="submit" class="theme-btn send-btn flaticon-paper-plane-2"></button>
                        </div>
                    </form>
                </div>
                <div class="inbox">Get recipes, tips, and news delivered to your inbox.</div>
            </div>

            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">
                <h1>Visit our store</h1>
                <div class="bold-text">Here you’ll find a carefully chosen kitchen inventory.</div>
                <ul class="subscribe-list">
                    <li>Taste of Home is America's #1 <br> cooking magazine</li>
                    <li>Midnight Chocolate <br> Midnight Chocolate 2% <br> Very Berry Strawberry</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- End Subscribe Section -->
<!-- Instagram Section -->
<section class="instagram-section">
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <div class="profile"><span class="fa fa-pinterest"></span> Follow On Pinterest </div>
        </div>

    </div>

    <div class="instagram-carousel owl-carousel owl-theme">

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-1.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-2.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-3.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-4.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-5.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-6.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-1.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-2.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-3.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-4.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-5.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-6.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>