
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-title" style="background-image:url(/Content/assets/images/background/17.png)">
    <div class="auto-container">
        <h1>Register</h1>
    </div>
</section>
<!--End Page Title-->
<!-- Register Container -->
<div class="register-container margin">
    <div class="top-layer" style="background-image:url(/Content/assets/images/background/20.png)"></div>
    <div class="bottom-layer" style="background-image:url(/Content/assets/images/background/21.png)"></div>
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="~/Content/assets/images/resource/contact.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="pattern-layer" style="background-image:url(/Content/assets/images/background/18.png)"></div>
                        <div class="pattern-layer-2" style="background-image:url(/Content/assets/images/background/19.png)"></div>
                        <a href="#" class="facebook-login"><span class="fa fa-facebook-f"></span>&nbsp; Login In with Facebook</a>
                        <div class="fill">or fill the form</div>

                        <!-- Register Form -->
                        <div class="register-form">

                            <!-- Register Form -->
                            <form method="post">

                                <div class="form-group">
                                    <input type="text" name="username" placeholder="User Name" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="username" placeholder="Full Name" required>
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password" required>
                                </div>

                                <div class="form-group">
                                    <div class="check-box"><input type="checkbox" name="shipping-option" id="account-option"> &ensp; <label for="account-option">I have read and accept the Terms and Privacy Policy</label></div>
                                </div>

                                <div class="form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">Register</span></button>
                                    Already have an account? <a href="login.html">Log In</a>
                                </div>

                            </form>

                        </div>
                        <!-- End Register Form -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Register Container -->
<!-- Instagram Section -->
<section class="instagram-section">
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <div class="profile"><span class="fa fa-pinterest"></span> Follow On Pinterest </div>
        </div>
    </div>

    <div class="instagram-carousel owl-carousel owl-theme">

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-1.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-2.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-3.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-4.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-5.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-6.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-1.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-1.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-2.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-2.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-3.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-3.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-4.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-4.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-5.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-5.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Instagram Block -->
        <div class="instagram-block">
            <div class="inner-box">
                <figure class="image-box"><img src="~/Content/assets/images/resource/instagram-6.jpg" alt=""></figure>
                <!--Overlay Box-->
                <div class="overlay-box">
                    <div class="overlay-inner">
                        <div class="content">
                            <a href="~/Content/assets/images/resource/instagram-6.jpg" data-fancybox="instagram" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>